body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ffffff, #fdf6de);
    color: #ffffff;
    margin: 0;
    padding: 0;

}


div {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    font-family: Arial, sans-serif;

}

.box-welcome {
    background-color: transparent;
    color: #665c85;
    display: flex;              /* Enable flexbox */
    justify-content: center;    /* Center horizontally */
    align-items: center;        /* Center vertically */
    flex-direction: column; /* Arrange elements in a column */
    gap: 20px; /* Add space between elements */
}

/* Container for the grid */
.grid-container {
    display: grid;                   /* Enable grid layout */
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 10px;                        /* Space between grid items */
    justify-items: center;            /* Center items horizontally */
    align-items: center;              /* Center items vertically */
    padding: 10px;                    /* Add padding around the grid */
}

/* Styles for individual boxes */
.box-blue, .box-purple2 {


    background-color: rgba(38, 79, 129, 0.46);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Drop shadow */
    border-radius: 5px;               /* Optional: rounded corners */
    width: 95%;                       /* Make the box take up full width of grid cell */
    max-width: 90%;                  /* Limit the max width of the box */
    padding: 20px;                     /* Add some padding inside the boxes */
    text-align: center;                /* Center the content inside the box */
}

/* Adjust the color for the purple box */
.box-purple2 {
    background-color: rgba(58, 31, 104, 0.53);
}