
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    height: 100vh; /* Full viewport height */
    width: 100vh; /* Full viewport width */
    overflow: hidden; /* Prevent scrolling */
}

.navbar {
    position: fixed;
    top:0;
    width: 100%;
    background-color: #ABB1E4;
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
/* Title in Navbar */
.navbar .title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    margin-right: 200px;
}
/*links in the navbar */
    .navbar a {
        color: #333;
        text-decoration: none;
        padding: 15px 20px;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

.navbar a:hover {
    background-color: grey;
    color: white;
}
/* Logout Button in Navbar */
.navbar .logout-button {
    margin-left: auto;
    margin-right: 20px;
    background-color: ghostwhite; /* button color */
    color: slategray;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.navbar .logout-button:hover {
    background-color: darkslateblue; /* Darker on hover */
}

.content {
    width: 100%; /* Ensure content spans full width */
    height: 100%; /* Full height minus navbar */

}

/* Section styles */
.section {
    height: 100vh;  /* Set height to 100% of the viewport height */
    width: 100vw;  /* Set width to 100% of the viewport width */
}

iframe {
    display: block;  /* iframes are inline by default */
    height: 100vh;  /* Set height to 100% of the viewport height */
    width: 100vw;  /* Set width to 100% of the viewport width */
    border: none; /* Remove default border */
}



