/* Tab Styles */
body {
    font-family: Arial, sans-serif;
    margin: 50px 20px 20px;
}

h1 {
    font-size: 2.5rem;
    color: #3d3888;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    color: #2d3370;
    margin-top: 10px;
}

form {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, textarea, button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box; /* Ensures consistent sizing */
}

button {
    border: none; /* Removes default button borders */
    background-color: #6e73d7;
    color: white;
    cursor: pointer;
}


button:hover {
    background-color: #1e3293;
}
.message {
    text-align: center;
    font-size: 16px;
    color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
